{% load staticfiles cms_tags menu_tags sekizai_tags i18n  %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{% page_attribute page_title %}{% endblock title %} Van Ella Studios</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}"  rel="stylesheet">
    <link href="{% static 'css/ves.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}" ></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% render_block "css" %}      
</head>
<body background="{% static 'img/bg.jpg' %}">
{% cms_toolbar %}
    <div class="container">
        <div class="row">
            <div class="header"><a href="/"><img src="{% static 'img/logo-small.png' %}" border="0"/></a></div>
            <!-- nav -->              
            <nav class="navwrap">    
                <div class="navbar navbar-collapse  js-navbar-header ">
                {% block navbar %}
                    <nav class="nav navbar-main navbar-right" id="page-navigation" role="navigation">
                        <h2 class="sr-only">{% trans "Navigation" %}</h2>
                        {% render_model_block request.current_page "changelist" %}
                            {% with dropdown="true" %}
                                <ul class="nav navbar-nav">
                                    {% show_menu 0 10 10 10 "menu/custom.html" %}
                                        <li><a href="/classes-and-workshops/">Classes and Workshops</a></li>                
                                        <li><a href="/shows">Events</a></li>  
                                </ul>
                            {% endwith %}
                        {% endrender_model_block %}
                    </nav>            
                {% endblock navbar %}
                </div>
           </nav>
           <!-- end nav -->
           <div class="container">
               <div class="jumbotron col-lg-8 col-md-10">
                   {% block content %}{% endblock %}
               </div>
           </div>
          <!--div class="latest" -->
                <!-- LATEST ADDED EVENTS / THIS WEEK  Get this stuff from F objects? -->
          <!--/div-->
          <div class="footer">
              {% load social_share %}
             {% post_to_facebook object_or_url "Share on Facebook" %}{% post_to_twitter "{{object.title}}" object_or_url "Share on Twitter" %}
(314) 384-2532<br />
            	&copy;2017 Van Ella Productions, All Rights Reserved.  Site by <a href="http://revmatt.com">Punitive Art</a>.
          </div>
        </div><!-- end ROW -->
    </div><!-- end CONTAINER -->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% render_block "js" %}
</body>
</html>
